@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1a22;
  --foreground: #f8f8f8;
  --mainColor: #FBB23F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #1b1a22;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
